{% extends 'base.html' %}



{% block content %}

<div class ="row">
	<div class="col-md-5">
<form method="POST"> {% csrf_token %}
	


<label for="id_rent">Rent:</label>
<input class="form-control" type="number" name="rent" step="any" required="" id="id_rent">

<label for="id_initial_security_deposit">Initial security deposit:</label>
<input class="form-control" type="number" name="initial_security_deposit" step="any" required="" id="id_initial_security_deposit" >

<label for="id_lease_start_date">Lease start date:</label>
<input class="form-control" type="date" name="lease_start_date" required="" id="id_lease_start_date">


<label for="id_lease_end_date">Lease end date:</label>
<input class="form-control" type="date" name="lease_end_date" required="" id="id_lease_end_date">


<br/>

<input class="btn btn-sm btn-primary btn-block" type="submit" name="submit">

</form>
</div>
</div>
{% endblock %}