{% extends 'base.html' %}



{% block page_heading %}

<h1 class="h3 mb-0 text-gray-800">Add Tenants To Property</h1>

{% endblock %}



{% block content %}
<div class="row">
	<div class="col-md-3">
<form method="POST"> {% csrf_token %}

	<label for="id_email">Email:</label>
	<input type="email" name="email" required="" id="id_email" class="form-control form-control-user">
	<br/>

	
		<input type="Submit" name="Add" class="btn btn-sm btn-primary btn-block">
	

</form>
	</div>



	


</div>

{% endblock %}