{% extends 'base.html' %}
{% load static %}


<script>
	

	{% block jquery %}


	{% endblock %}
</script>

<h1>Hello World</h1>



{% block content %}



{% if request.user.landlord_tenant == "Landlord" %}
<h3>You have the following properties.</h3>
{% for property in properties %}

<div class="card" style="width: 18rem;">
  <img src="{{ property.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ property.name }}</h5>
    <p class="card-text">{{ property.address }}</p>
    <a href="{{ property.get_property_detail_url}}" class="btn btn-primary">View Details</a>
  </div>
</div>


<!-- <h2>Buy for $5.00</h2>
<form action="" method="post">
  {% csrf_token %}
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{ key }}"
          data-description="A Django Charge"
          data-amount="500"
          data-locale="auto"></script>
</form>
 -->

{% endfor %}

{% elif request.user.landlord_tenant == "Tenant" %}

{% if properties %}

<h3>You have been assigned to the following property</h3>

<div class="card" style="width: 18rem;">
  <img src="{{ properties.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ properties.name }}</h5>
    <p class="card-text">{{ properties.address }}</p>
    <a href="{{ properties.get_property_detail_url}}" class="btn btn-primary">View Details</a>
  </div>
</div>



{% else %}

<h3>Please wait for your landlord to assign you to a property. You will be able to see details here once that is done</h3>

{% endif %}

{% endif %}
{% endblock %}

