{% extends 'base.html' %}



{% block page_heading %}

<h1 class="h3 mb-0 text-gray-800">Property Detail</h1>

{% endblock %}









{% block content %}





<!--- LANDLORD SECTION ------>

{% if request.user.landlord_tenant == "Landlord" %}

        <!-- Content Row -->
          <div class="row">

            
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Monthly)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">$
                      {% if  property_lease.rent %}  {{ property_lease.rent }} {% else %} 0 {% endif %}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

           
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Earnings (Annual)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">$ {{ yearly_earning }} </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tenants</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ number_of_tenants }}</div>
                        </div>
     
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

           
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total Payments</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ number_of_payments_made }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



      
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Property Details</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Amount Paid</th>
                    
                    </tr>
                  </thead>


                  <tbody>
                    <tr>
                      <td>{{ property_obj.name }}</td>
                      <td>{{ property_obj.address }}</td>
                      <td>{{ total_amount_paid }}</td>
                    </tr>
                
                  </tbody>
                </table>
              </div>
            </div>
          </div>


        

          <div class="row">


            
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Tenants Added To Property</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      
                    </a>
                    
                  </div>
                </div>
               
                <div class="card-body">


                	{% if property_obj.tenants.all  %}

<p>You have following tenants added to your current property</p>
{% for tenant in property_obj.tenants.all %}

<li>{{ tenant }} </li>

{% endfor %}


{% else %}

<p>You do not have any tenant added to the property yet</p>
{% endif %}

<br/>
<a href = "{{ property_obj.get_add_tenant_url }}" > <p>Add More Tenants</p> </a>

            	
                  
               
                </div>
              </div>
            </div>





                        
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Lease Details</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      
                    </a>
                    
                  </div>
                </div>
               
                <div class="card-body">

                {% if property_lease %}
                <p>Your current lease details are as follows</p>
                <ul>
                	<li>Rent: {{ property_lease.rent }}</li>
                	<li>Security: {{ property_lease.initial_security_deposit }}</li>
                	<li>Start Date: {{ property_lease.lease_start_date }}</li>
                	<li>End Date: {{ property_lease.lease_end_date }}</li>
                </ul>

                {% else %}
                <a href = "{{ property_obj.get_add_lease_url }}" > <p>Set Property Lease</p> </a>

                {% endif %}

				           
                </div>
              </div>
            </div>


                     <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Payment Details</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      
                    </a>
                    
                  </div>
                </div>
               
                <div class="card-body">


                <a href = "{{ property_obj.get_tenant_payment_url }}"> <p>See Payment Details</p> </a>

				           
                </div>
              </div>
            </div>
          </div>




<!--- LANDLORD SECTION ENDS HERE  ------>

<!---  TENANT ----- >
{% elif request.user.landlord_tenant == "Tenant" %}




         
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Property Details</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Address</th>
                      <th>Rent</th>
                      <th>Other Payments(Security etc.)</th>
                      <th>Lease Start Date</th>
                      <th>Amount Paid</th>
                     
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>{{ property_obj.name }}</td>
                      <td>{{ property_obj.address }}</td>
              <td> {% if  property_lease.rent %} {{ property_lease.rent }} {% else %} NA {% endif %}</td>
              <td>{% if  property_lease.rent %} {{ property_lease.initial_security_deposit }} {% else %} NA {% endif %}</td>
              <td>{% if  property_lease.rent %}  {{ property_lease.lease_start_date }} {% else %} NA {% endif %}</td>
                      <td>{{ total_amount_paid }}</td>
                    </tr>
                
                  </tbody>
                </table>
              </div>
            </div>
          </div>






{% if property_lease %}

<form action="" method="POST" id="payment-form">
<div class ="row">
<div class = "col-md-6">

	{% csrf_token %}
  <div class="form-row">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
  </div>

  <div class="form-row">
	<input type="number" name="amount" class="form-control" placeholder="Enter Amount To Pay">
  </div>


  <br/>
<!--   <div class="form-row">
	<button type="button" class="btn btn-primary">Pay Now</button>
  </div> -->
  
  <button>Submit Payment</button>

</div>
</div>
</form>

{% else %}

<h4>You will be able to Pay once your Landlord sets the lease for this property.</h4>

{% endif %}
{% endif %}
<!---  TENANT SECTION ENDS HERE ----- >

{% endblock %}




{% block jquery %}

// Create a Stripe client.
var stripe = Stripe('{{ key }}');


// Create an instance of Elements.
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
// (Note that this demo uses a wider set of styles than the guide below.)
var style = {
  base: {
    color: '#32325d',
    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::placeholder': {
      color: '#aab7c4'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

// Handle real-time validation errors from the card Element.
card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

// Handle form submission.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the user if there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});

// Submit the form with the token ID.
function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
}
 
{% endblock %}