{% extends 'base.html' %}



{% block page_heading %}

<h1 class="h3 mb-0 text-gray-800">Payment Details</h1>

{% endblock %}





{% block content %}


{% if property_obj %}

   <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Property Details</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Tenant Name</th>
                      <th>Amount Paid</th>
                      <th>Date</th>
                      
                    
                    </tr>
                  </thead>


                  <tbody>

                  	{% for data in property_obj %}
                    <tr>
                      <td>{{ data.user }}</td>
                      <td>{{ data.amount_paid }}</td>
                      <td>{{ data.timestamp }}</td>
     
                    </tr>
                    {% endfor %}
                
                  </tbody>
                </table>
              </div>
            </div>
          </div>
{% else %}

<h4>No payments made yet.</h4>

{% endif %}




{% endblock %}