{% extends 'base.html' %}

{% block page_heading %}

<h1 class="h3 mb-0 text-gray-800">Profile</h1>

{% endblock %}


{% block content %}


<h4>First Name: {{ request.user.first_name }}</h4>
<h4>Last Name: {{ request.user.last_name }}</h4>
<h4>Email: {{ request.user.email }}</h4>




{% endblock %}