<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">


{{ form.errors }}
    <form class="form-signin" method="POST">{% csrf_token %}
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" name="login" class="form-control form-control-user" autofocus="autofocus" required="" placeholder="E-mail address" id="id_login" >
      <label for="inputPassword" class="sr-only">Password</label>
       <input type="password" class="form-control form-control-user" name="password" required="" placeholder="Password" id="id_password">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" name="remember" id="id_remember"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <br/>
       <p>Not Registered? <a href="{% url 'account_signup' %}">Sign up here</a></p>
      <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>

    </form>



      </body>
</html>