<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
   {{ form.errors }}

    <form class="form-signin" method="POST">{% csrf_token %}
      
      <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>


      <div class ="row">

      	<div class="col-md-6">
<label for="id_email">E-mail:</label>

      	</div>

      	<div class="col-md-6">
 <input type="email" name="email" placeholder="E-mail address" required="" id="id_email">
      	</div>

      </div>

<br/>

<div class="row">
	<div class="col-md-6">
		<label for="id_landlord_tenant">Landlord tenant:</label>
	</div>

	<div class="col-md-6">
	<select name="landlord_tenant" required="" id="id_landlord_tenant">
  <option value="" selected="">---------</option>

  <option value="Landlord">Landlord</option>

  <option value="Tenant">Tenant </option>

</select>
	</div>
</div>


<br/>

      <div class ="row">

      	<div class="col-md-6">
 <label for="id_first_name">First name:</label>
     

      	</div>

      	<div class="col-md-6">
 <input  type="text" name="first_name" maxlength="50" required="" id="id_first_name">
      	</div>

      </div>

<br/>



      <div class ="row">

      	<div class="col-md-6">

      <label for="id_middle_name">Middle name:</label>
      

      	</div>

      	<div class="col-md-6">
<input type="text" name="middle_name" maxlength="50" id="id_middle_name">
      	</div>

      </div>

<br/>



      <div class ="row">

      	<div class="col-md-6">
 <label for="id_last_name">Last name:</label>
     

      	</div>

      	<div class="col-md-6">
 <input  type="text" name="last_name" maxlength="50" required="" id="id_last_name">
      	</div>

      </div>

<br/>



      <div class ="row">

      	<div class="col-md-6">
<label for="id_phone_number">Phone number:</label>
      

      	</div>

      	<div class="col-md-6">
<input  type="number" name="phone_number" id="id_phone_number">
      	</div>

      </div>

<br/>


      <div class ="row">

      	<div class="col-md-6">

      <label for="id_date_of_birth">Date of birth:</label>
     
      	</div>

      	<div class="col-md-6">
 <input  type="date" name="date_of_birth" id="id_date_of_birth" required="">
      	</div>

      </div>

<br/>

      <div class ="row">

      	<div class="col-md-6">
 <label for="id_password1">Password:</label>
      
      	</div>

      	<div class="col-md-6">
 <input  type="password" name="password1" placeholder="Password" required="" id="id_password1">
      	</div>

      </div>
<br/>


      <div class ="row">

      	<div class="col-md-6">
<label for="id_password2">Password (again):</label>
    
      	</div>

      	<div class="col-md-6">
<input  type="password" name="password2" placeholder="Password (again)" required="" id="id_password2">
      	</div>

      </div>






      




     



     

      






     


	



      <div class="checkbox mb-3">
       
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
      <br/>
      <p>Already Registered? <a href="{% url 'account_login' %}">Login here</a></p>
      <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
    </form>


      </body>
</html>

